{% load adminlte_helpers %}
{%load static %}
<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    {% block logo %}
    <a href="/" class="brand-link">
        <img src="{%static 'admin-lte/dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3" style="opacity: .8">
        {% block logo_text %}<span class="brand-text font-weight-light">AdminLTE 3 </span>{% endblock %}
    </a>
    {% endblock %}
    <!-- sidebar: style can be found in sidebar.less -->
    <div class="sidebar">
        <!-- Sidebar user panel -->
        {% block user_panel %}
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% avatar_url size=90 %}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{% firstof request.user.get_full_name request.user.username %}</a>
            </div>
        </div>
        {% endblock %}

        {% block form %}{% endblock %}

        <!-- sidebar menu: : style can be found in sidebar.less -->
        {% block nav_links_ul %}
        <ul class="sidebar-menu">
            {% block nav_links_outer %}
            <li class="header">{% block nav_heading %}MAIN NAVIGATION{% endblock %}</li>

            {% block nav_links %}
            <li>
                <a href="{% url "team-list" %}">
                    <i class="fa fa-users"></i> <span>Team</span>
                </a>
            </li>
            <li>
                <a href="{% url "player-list" %}">
                    <i class="fa fa-address-card"></i> <span>Player</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-save"></i> <span>Create</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="{% url "player-create" %}">
                            <i class="fa fa-address-card"></i> Player
                        </a>
                    </li>
                </ul>
                <ul class="treeview-menu">
                    <li>
                        <a href="{% url "team-create" %}">
                            <i class="fa fa-address-card"></i> Team
                        </a>
                    </li>
                </ul>
            </li>
            {% endblock nav_links %}
            {% endblock nav_links_outer %}
        </ul>
        {% endblock nav_links_ul %}
    </div>
    <!-- /.sidebar -->
</aside>