{% extends 'adminlte/base.html' %}

{% block title %}Giro de Italia 2024{% endblock %}
{% block bodyclass %} skin-red {% endblock %}
{% block content %}
<div class="container">
    {% block section %}
    {% endblock section %}
</div>
<div class="container">
    {% block maincontent %}
    {% endblock maincontent %}
</div>

{% endblock %}