{% extends './base.html' %}

{% load static %}

{% block section %}
<h2>Player</h2>
<hr>
{% endblock section %}

{% block maincontent %}
<div class="row well">
    {% for p in object_list.all %}
    <div class="col-md-3 well">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ p.first_name }} {{ p.last_name }}</h3>
            </div>
            <div class="panel-body" align="center">
                <a href="{% url "player-detail" p.id %}">
                    <img src="{% static p.photo.url %}" style="width:170px;height:200px;" />
                </a>
            </div>
            <div class="panel-footer">
                {% if p.comment %}
                {{ p.comment }}
                {% else %}
                <a href="{% url "player-update" p.id %}"><br><button>Editar Comentarios</button></a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock maincontent %}