{% extends './base.html' %}
{% block maincontent %}
<form action="" method="post">{% csrf_token %}
    <p>Delete "{{ object.first_name }} {{ object.last_name }}"?</p>
    <input type="submit" value="Confirmar" />
    <a class='btn' href="{% url 'player-list' %}">Cancelar</a>
</form>
{% endblock maincontent %}