{% extends "./base.html" %}

{% block maincontent %}
<form enctype="multipart/form-data" method="post">{% csrf_token %}
    {{ form.as_p }}
    <br>
    <button type="submit">Guardar</button>
    <a class='btn' href="{% url 'team-list' %}">Cancelar</a>
</form>
{% endblock maincontent%}