{% extends './base.html' %}
{% block maincontent %}
<form action="" method="post">{% csrf_token %}
    <p>Delete "{{ object.name }} "?</p>
    <input type="submit" value="Confirmar" />
    <a class='btn' href="{% url 'team-list' %}">Cancelar</a>
</form>
{% endblock maincontent %}